<form action="/submit" method="post" enctype="multipart/form-data"> 
    <label for="username">Username:</label> 
    <input type="text" id="username" name="username" required> 
 
    <label for="avatar">Choose an avatar:</label> 
    <input type="file" id="avatar" name="avatar" accept="image/*"> 
 
    <button type="submit">Submit</button> 
</form> 